venv/
__pycache__/
.env
*.pyc
instructions.md
*.zip
.xalka/

# Model weights (too large for GH free tier)
*.pth
*.pt
*.bin
*.ckpt

# WandB
wandb/

# Notebook checkpoints
.ipynb_checkpoints/

# Simulation Artifacts
temp_lammps/
*.log
*.data
*.profile
*.lammps
*.xyz
*.polymer
README.txt
in.lammps

# Node
node_modules/
dist/
coverage/
.npm/
.DS_Store